/* Siga as orientações no arquivo README para concluir o exercício */

.container {

    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color:rgb(7, 89, 75)

}

.cabecalho {

    background-color: #104f2c;
    text-align: center;

}

.principal {

    color: greenyellow;
    font-size: 32px;
    font-weight: bold;

}

.subtitulo {

    color: rgb(136, 246, 136);

}

.conteudo {

    background-color: #dde2b4;
    color: rgb(248, 79, 191);

}

.conteudo p {

    color: #E4005A;
    font-size: 42px;

}

.cabecalho p:nth-child(3) {

    color: purple;
    text-decoration: underline;

}

@media (max-width: 480px){

    .container{

        background-color: #ADD8E6;

    }

}